@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --background-image-tenis: url("../src/assets/bg.png");
  --background-image-tenis2: url("../src/assets/bg2.png");
  --background-image-tenis3: url("../src/assets/bg3.png");
  --animate-piscapisca: piscapisca 2.5s infinite;
  --animate-movemove: movemove 2.5s infinite;
  --color-amarelotenis: rgb(239, 212, 75);
  --color-azultenis: rgb(29, 62, 127);
  --color-verdetenis: rgb(70, 146, 76);
  --color-cinzaborda: #717171;

  @keyframes piscapisca {
    0% {
      transform: translatex(0px);
    }
    50% {
      transform: translatex(8px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  @keyframes movemove {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}
