@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --background-image-tenis: url("../src/assets/bg.png");
  --animate-piscapisca: piscapisca 2.5s infinite;
  --animate-movemove: movemove 2.5s infinite;

  @keyframes piscapisca {
    0% {
      transform: translatex(0px);
    }
    50% {
      transform: translatex(8px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  @keyframes movemove {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}
